@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 161 93% 13%;
    --card: 0 0% 100%;
    --card-foreground: 161 93% 13%;
    --popover: 0 0% 100%;
    --popover-foreground: 161 93% 13%;
    --primary: 158 64% 32%;
    --primary-foreground: 150 100% 98%;
    --secondary: 152 24% 92%;
    --secondary-foreground: 161 93% 13%;
    --muted: 152 24% 92%;
    --muted-foreground: 155 12% 43%;
    --accent: 152 24% 92%;
    --accent-foreground: 161 93% 13%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 152 18% 85%;
    --input: 152 18% 85%;
    --ring: 158 64% 32%;
    --radius: 0rem;
  }

  .dark {
    --background: 162 47% 5%;
    --foreground: 150 100% 98%;
    --card: 162 47% 7%;
    --card-foreground: 150 100% 98%;
    --popover: 162 47% 7%;
    --popover-foreground: 150 100% 98%;
    --primary: 158 64% 45%;
    --primary-foreground: 162 47% 5%;
    --secondary: 158 30% 15%;
    --secondary-foreground: 150 100% 98%;
    --muted: 158 30% 15%;
    --muted-foreground: 155 18% 65%;
    --accent: 158 30% 15%;
    --accent-foreground: 150 100% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 158 25% 18%;
    --input: 158 25% 18%;
    --ring: 158 64% 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
